<h2 class="content-block">Clientes</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="logos-container">
      <dx-data-grid #clientes_grid
                    id="clientes_grid"
                    [dataSource]="clientes"
                    [repaintChangesOnly]="true"
                    [showBorders]="true"
                    [remoteOperations]="true"
                    (onSaving)="salvarCliente($event)"
      >
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-editing
          mode="batch"
          [allowAdding]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"
        >
        </dxo-editing>

        <dxi-column dataField="id" caption="ID" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="codigo" caption="Código"></dxi-column>
        <dxi-column dataField="nome" caption="Nome"></dxi-column>

        <dxo-summary>
          <dxi-total-item column="id" summaryType="count"></dxi-total-item>
        </dxo-summary>
      </dx-data-grid>

    </div>
  </div>
</div>


