.selectcliente{
  float: left;
  height: 100px;
  width: 650px;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  overflow: hidden;
}
