<h2 class="content-block">Home</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="buttons-demo">
      <div class="buttons">
        <div>

          <div class="buttons-column">
            <div class="column-header"> Cliente </div>

            <div>
              <dx-button
                stylingMode="contained"
                text="CLIENTES"
                type="success"
                [width]="120"
              >
              </dx-button>
            </div>

          </div>
        </div>
        <div>
          <div class="buttons-column">
            <div class="column-header"> Filme </div>
            <div>
              <dx-button
                stylingMode="contained"
                text="FILMES"
                type="default"
                [width]="120"
              >
              </dx-button>
            </div>

          </div>
          <div class="buttons-column">
            <div class="column-header"> Locação </div>
            <div>
              <dx-button
                stylingMode="contained"
                text="LOCAÇÃO"
                type="danger"
                [width]="120"
              >
              </dx-button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
